/* Загальний контейнер для деталей фільму з фоновим малюнком */
.movieDetailsWrap {
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
  /* background-image: url('../../assets/images/floor-1256804.jpg'); */
  background-size: cover;
  background-position: right center; 
  background-repeat: no-repeat;
  padding: 20px; 
}

/* Контейнер для опису фільму */
.movieDetailsDescr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
  border-radius: 10px; 
}

/* Зображення фільму */
.movieDetailsImg {
  max-width: 400px;
}

/* Клас для характеристик фільму (наприклад, актори або режисери) */
.character {
  background-color: rgb(4, 0, 255);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

/* Стилі для рев'ю справа від фото актора */
.review {
  flex: 1; 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
  border-radius: 10px;
  margin-left: 20px; 
}

/* Стилі для інших елементів рев'ю */
.reviewTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.reviewText {
  font-size: 1rem;
}


